*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/HelloWorld.svg/1200px-HelloWorld.svg.png);
    height: auto;
    width: auto;
    background-repeat: no-repeat; /* Background repeat property */
}

#first{
    color: blueviolet;
    text-align: center;
}

#second{
    color: white;
    font-size: 1.5rem;
}

.red{
    background: red;
    height: 30px;
    color: white;
}

.green{
    background: green;
}